<ng-container title-prefix="Overview" title="Machine" title-suffix="CMDB"></ng-container>
<div class="container" fxFlex="1 1 auto" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div fxLayoutAlign="end center">
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon style="margin: 2px 8px 2px 0">search</mat-icon>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput (keyup)="search($event.target.value)" placeholder="搜索">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start stretch" style="margin-left: 20px;">
                <button mat-raised-button color="primary" (click)="create()">
                    <mat-icon>add</mat-icon> 创建主机
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="import()">
                      <mat-icon>arrow_forward</mat-icon>
                      <span>导入</span>
                    </button>
                    <button mat-menu-item (click)="export()">
                      <mat-icon>arrow_back</mat-icon>
                      <span>导出模板</span>
                    </button>
                  </mat-menu>
                <button mat-raised-button color="accent" [fxHide]="!selection.hasValue()" style="margin-left: 10px;" (click)="deleteSelection()">
                    <mat-icon>remove</mat-icon> 删除
                </button>
            </div>
        </div>
        <div fxLayout="row" style="margin-left:20px;">
            <mat-form-field fxLayoutAlign="start center" fxLayoutAlign="start center" style="margin-left:30px;">
                <mat-select [(value)]="selectInitValue">
                    <mat-option value="install">软件安装</mat-option>
                    <mat-option value="list installed">软件查询</mat-option>
                    <mat-option value="update">软件更新</mat-option>
                    <mat-option value="remove">软件删除</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="example-form"  fxLayoutAlign="center start" fxFlex="1 1 auto" style="margin-left: 30px;">  
                <mat-form-field  class="example-full-width" style="width: 90%;">
                    <input matInput type="text" [(ngModel)]="package">
                </mat-form-field>
            </div>
                
            <div fxLayoutAlign="end start" style="margin-top: 20px;">
                <button mat-raised-button color="primary" style="margin-right: 20px;" [disabled]="!selection.selected.length" (click)="execCommand()">执行</button>
                <!-- <button mat-raised-button color="primary" [disabled]="!selection.selected.length">Update All</button> -->
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort matSortActive="metadata.name" matSortDisableClear matSortDirection="asc" class="mat-elevation-z4">

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let elem; columns: displayedColumns;" class="machine"></tr>

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (change)="$event? toggle(): null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event? selection.toggle(row): null" [checked]="selection.isSelected(row)"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="metadata.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 主机名 </th>
                <td mat-cell *matCellDef="let elem" > {{elem.metadata?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="ssh_addr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> SSH IP地址 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.ssh_addr}} </td>
            </ng-container>

            <ng-container matColumnDef="ssh_port">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> SSH 端口 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.ssh_port}} </td>
            </ng-container>

            <ng-container matColumnDef="ssh_user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> SSH 用户名 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.ssh_cred?.user}} </td>
            </ng-container>

            <ng-container matColumnDef="op_user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 管理员用户名 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.op_cred?.user}} </td>
            </ng-container>

            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 主机标注 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.comment}} </td>
            </ng-container>

            <ng-container matColumnDef="metadata.created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 创建时间 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.metadata?.created_at? (elem.metadata.created_at | date: 'medium'): ''}} </td>
            </ng-container>

            <ng-container matColumnDef="metadata.updated_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 更新时间 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.metadata?.updated_at? (elem.metadata.updated_at | date: 'medium'): ''}} </td>
            </ng-container>

            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let elem">
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="update(elem)">
                                <mat-icon>edit</mat-icon>
                                <span>修改</span>
                            </button>
                            <button mat-menu-item (click)="delete(elem)">
                                <mat-icon>delete</mat-icon>
                                <span>删除</span>
                            </button>
                        </mat-menu>
                    </div>
                </td>
            </ng-container>

        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons="true"></mat-paginator>
    </div>
</div>
