<mat-toolbar color="primary" class="navbar">
    <div fxLayout="row" fxLayoutAlign="start center" style="min-width: 100%">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button routerLink="/"><mat-icon>home</mat-icon></button>
            <h1 class="title">{{header}}</h1>
        </div>
        <div fxFlex="1 1 auto">
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
                <button mat-stroked-button routerLink="/scan">安全漏洞</button>
                <button mat-stroked-button routerLink="/host">主机管理</button>
                <button mat-stroked-button routerLink="/grouplist">主机组管理</button>
                <div *ngIf="isAdmin; else elseBlock">
                    <button mat-mini-fab color="primary" mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>perm_identity</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="manage()">用户管理</button>
                        <button mat-menu-item (click)="logout()">退出登录</button>
                    </mat-menu>
                </div>
                
                <ng-template #elseBlock>
                    <button mat-mini-fab color="primary" mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>perm_identity</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="updatePasswd()">修改密码</button>
                    <button mat-menu-item (click)="logout()">退出登录</button>
                </mat-menu>
                </ng-template>
                
            </div>
        </div>
    </div>
</mat-toolbar>