<div fxLayout="column">
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="主机组名称" [(ngModel)]="group"></textarea>
    </mat-form-field>
    <div fxLayout="row">
        <button mat-raised-button color="primary" (click)="update()" [disabled]="!group">OK</button>
        <button mat-raised-button (click)="close()" style="margin-left: 20px;">取消</button>
    </div>
</div>



