<div style="padding:16px 24px;">
    <div fxLayout="row" >
        <mat-form-field fxLayoutAlign="start center">
            <mat-select [(value)]="selectInitValue">
                <mat-option value="install">软件安装</mat-option>
                <mat-option value="list installed">软件查询</mat-option>
                <mat-option value="update">软件更新</mat-option>
                <mat-option value="remove">软件删除</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="example-form" fxLayoutAlign="center start" fxFlex="1 1 auto">
            <mat-form-field  class="example-full-width" style="width: 90%;">
                <input matInput type="text" [(ngModel)]="package">
            </mat-form-field>
        </div>
        
        <div fxLayoutAlign="end start" style="margin-top: 20px;">
            <button mat-raised-button color="primary" style="margin-right: 20px;" [disabled]="!selection.selected.length" (click)="execCommand()">执行</button>
            <!-- <button mat-raised-button color="primary" [disabled]="!selection.selected.length">Update All</button> -->
        </div>
    </div>
    
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear matSortDirection="asc" class="mat-elevation-z4" style="width: 100%; margin-bottom: 20px;">

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let elem; columns: displayedColumns;" class="machine"></tr>

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (change)="$event? toggle(): null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event? selection.toggle(row): null" [checked]="selection.isSelected(row)"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="metadata.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 主机名 </th>
                <td mat-cell *matCellDef="let elem" > {{elem.metadata.name}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 扫描状态 </th>
                <td mat-cell *matCellDef="let elem" [ngSwitch]="elem.state">
                    <mat-spinner *ngSwitchCase="1" diameter="22"></mat-spinner>
                    <mat-spinner *ngSwitchCase="3" diameter="22"></mat-spinner>
                    <mat-icon *ngSwitchCase="4" style="color: #00796b;">check_circle</mat-icon>
                    <mat-icon *ngSwitchCase="5" style="color: #d32f2f;">cancel</mat-icon>
                    <mat-icon *ngSwitchDefault style="color: #37474f;">help</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="critical_sec">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 危险补丁数量 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.security | find: 'severity=1'}} </td>
            </ng-container>

            <ng-container matColumnDef="important_sec">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 重要补丁数量 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.security | find: 'severity=2'}} </td>
            </ng-container>

            <ng-container matColumnDef="moderate_sec">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 中等补丁数量 </th>
                <td mat-cell *matCellDef="let elem"> {{elem.security | find: 'severity=3'}} </td>
            </ng-container>


        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons="true"></mat-paginator>
</div>