<div style="width: 100%;padding:16px 20px; box-sizing:border-box;">

        <div fxLayoutAlign="end center">
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon style="margin: 2px 8px 2px 0">search</mat-icon>
                <mat-form-field fxFlex="1 1 auto">
                    <input matInput (keyup)="search($event.target.value)" placeholder="搜索" [(ngModel)]="package">
                </mat-form-field>
            </div>
        </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; margin-bottom: 20px;">

        <!-- package Column -->
        <ng-container matColumnDef="package">
          <th mat-header-cell *matHeaderCellDef> 软件名称 </th>
          <td mat-cell *matCellDef="let element"> {{element.packname}} </td>
        </ng-container>
    
        <!-- version Column -->
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef> 版本 </th>
          <td mat-cell *matCellDef="let element"> {{element.version}} </td>
        </ng-container>

        <!-- created at Column -->
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> 创建时间 </th>
          <td mat-cell *matCellDef="let element"> {{element.created_at | date : 'yyyy-MM-dd:HH:mm:ss'}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="operation">
          <th mat-header-cell *matHeaderCellDef> 操作类型 </th>
          <td mat-cell *matCellDef="let element"> {{element.operation == 'installation' ? '安装' : element.operation == 'remove'?'删除' : '更新'}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>