<div style="padding:16px 20px; width:100%;box-sizing:border-box;">
    <div fxLayoutAlign="end center">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon style="margin: 2px 8px 2px 0">search</mat-icon>
            <mat-form-field fxFlex="1 1 auto">
                <input matInput (keyup)="search($event.target.value)" placeholder="搜索">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch" style="margin-left: 20px;">
            <button mat-raised-button color="primary" (click)="create()">
                <mat-icon>add</mat-icon> 创建用户
            </button>
            <button mat-raised-button color="accent" [fxHide]="!selection.hasValue()" style="margin-left: 10px;" (click)="deleteSelection()">
                    <mat-icon>remove</mat-icon> 删除用户
            </button>
        </div>
    </div>
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; margin-bottom:20px;">

         <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox color="primary" (change)="$event? toggle(): null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event? selection.toggle(row): null" [checked]="selection.isSelected(row)"></mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 用户名 </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        
        <ng-container matColumnDef="metadata.created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 创建时间 </th>
            <td mat-cell *matCellDef="let element"> {{element.metadata.created_at | date:'yyyy-MM-dd:HH:mm:ss'}} </td>
        </ng-container>
        
        <ng-container matColumnDef="userType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="name"> 用户类型 </th>
            <td mat-cell *matCellDef="let element"> {{element.usertype == "primary" ? "普通用户" :"管理员"}} </td>
        </ng-container>

        <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> 
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="update(element)">
                                <mat-icon>edit</mat-icon>
                                <span>更改密码</span>
                            </button>
                            <button mat-menu-item (click)="delete(element)">
                                <mat-icon>delete</mat-icon>
                                <span>删除</span>
                            </button>
                        </mat-menu>
                    </div>    
                </td>
            </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons="true"></mat-paginator>         
</div>