<div fxLayout="column" style="width: 100%; margin:20px 0;"  >
    <div fxLayout="row" fxLayoutAlign="center center">
        <div chart [options]="deviceOption"   style="width: 500px;height:500px; margin: 100px 200px 0 0;"></div>
        <div chart [options]="criticalOption"  style="width: 600px;height:500px;"></div>
    </div>
    <div fxLayoutAlign="center center" style="margin-top: 60px; ">
        <mat-list style="border:1px solid #757575; border-radius: 5px;">
            <mat-list-item  style="color:#03A9F4; font-weight: bold;font:16px;">注解：</mat-list-item>
            <mat-list-item>危险漏洞：这个级别是针对那些容易被远程未经身份验证的攻击者利用，并且不需要用户交互就会导致系统破坏(任意代码执行)的缺陷。</mat-list-item> 
            <mat-list-item>重要漏洞：这个级别是针对那些很容易危及机密性、完整性或资源可用性的缺陷。</mat-list-item> 
            <mat-list-item>中等漏洞：这一评级是针对那些可能更难以利用，但在某些情况下仍可能导致对机密性、完整性或资源可用性的某种妥协的缺陷。</mat-list-item> 
        </mat-list>
    </div>
</div>


