<iframe id="iframe_display" name="iframe_display" style="display: none;"></iframe>

<form method="post" action="/api/v1/batchcreate" enctype="multipart/form-data" id="form" target="iframe_display">
    <input type="file" name="uploadfile" placeholder="选择文件">
    <input type="button" value="提交" (click)="submit()">
    <input type="button" value="取消" (click)="close()">
</form>