
<div style="padding:20px 24px;">
    <div *ngIf="data; else elseBlock">
        <mat-list>
            <mat-list-item>CVE-ID:</mat-list-item>
            <mat-list-item style="margin-left:28px;">{{data.name}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Description: </mat-list-item>
            <mat-list-item style="margin-left:28px; height: auto !important;">{{data.description}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                References:
            </mat-list-item>
            <ul>
                <li class="mat-list-text" style="margin-bottom: 5px;" *ngFor="let item of data.references;let i = index;">{{item}}</li>
            </ul>
            <mat-divider></mat-divider>
            <mat-list-item>Phase: </mat-list-item>
            <mat-list-item style="margin-left:28px;">{{data.phase}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Votes:</mat-list-item>
            <ul>
                <li class="mat-list-text" style="margin-bottom: 5px;" *ngFor="let item of data.votes;let i = index;">{{item}}</li>
            </ul>
            <mat-divider></mat-divider>
            <mat-list-item>Comments:</mat-list-item>
            <ul>
                <li class="mat-list-text" style="margin-bottom: 5px;" *ngFor="let item of data.comments;let i = index;">{{item}}</li>
            </ul>
        </mat-list>
    </div>
    <ng-template #elseBlock>未找到 {{name}}的详细信息</ng-template>
</div>