<div fxLayout="column" [formGroup]="form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="用户名" required [(ngModel)]="ob.name" formControlName="name" pattern="^[a-zA-Z]{1}[A-Za-z0-9_]*$" [readonly]="namedisabled">
        <mat-error *ngIf="form.get('name').invalid">{{form.get('name').hasError('required')? 'Name must be specified.': (form.get('name').hasError('pattern')? 'Not a valid name.': 'Unexpected error.')}}</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="密码" required [(ngModel)]="ob.password" formControlName="password" pattern="^[a-zA-Z]{1}[A-Za-z0-9_]*$" value="">
        <mat-error *ngIf="form.get('password').invalid">{{form.get('password').hasError('required')? 'Password must be specified.': (form.get('password').hasError('pattern')? 'Not a valid password.': 'Unexpected error.')}}</mat-error>
    </mat-form-field>
    
    <div fxLayout="row">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="do()">执行</button>
        <button mat-raised-button class="cancel" (click)="close()">取消</button>
    </div>
    
</div>
