<h2 mat-dialog-title>Delete Host</h2>
<mat-dialog-content>
    <p> 此操作无法撤消，这将从后端存储中永久删除它们。</p>
    <p>你确定要删除它（它们）吗？</p>
    <ul>
        <li *ngFor="let each of data;let i=index;" style="list-style: none;"><span>{{i+1}}、</span> {{each.metadata.name}}</li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="10px">
    <button mat-button (click)="abort()">取消</button>
    <button mat-flat-button color="primary" (click)="agree()">确定</button>
</mat-dialog-actions>